/* Main container for the side navigation menu */
.side-index-container {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 18vw;
  height: 100%;
  
  background: var(--color-background);
  border-right: 1px solid var(--color-accent);
}

/* Table inside the side navigation menu */
.index-table {
  width: 100%;
}

/* Header cell of an index */
.index-header {
  padding-top: 1rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  
  font-size: 2rem;
  font-weight: bold;
  
  text-align: left;
  
  color: var(--color-accent);
}

/* Home header cell */
.index-home {
  border-bottom: 1px dotted var(--color-accent);
  margin: 0;
}

/* A row in an index table */
.index-link-row {
  border-top: 1px dotted var(--color-accent);
  border-bottom: 1px dotted var(--color-accent);
  
  border-collapse: collapse;
}

/* A link cell in an index table */
.index-link-box {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
}
