/*@import "tailwindcss";*/

.circuit-page-container {
  margin: auto;
  /*max-width: 100rem;*/
  max-width: 80rem;
}

.page-header {
  font-size: 3rem;
}

.circuit-information-container {
  margin-bottom: 3em;
}

.h3 {
  font-weight: bold;
}
